@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    background-image: url(./image/Caesar-Materica-Ocra-Grip-225x453-cm-AFU6-Casa39.jpg);
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-image: url(./image/Caesar-Materica-Ocra-Grip-225x453-cm-AFU6-Casa39.jpg);
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 13px 12px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.countText {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: white;
    font-size: 30px;
}

.number {
    font-size: 100px;
    font-weight: 600;
    color: rgb(42, 44, 42);
}

.options button {
    background-color: rgba(7, 7, 63, 0.884);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    padding: 20px 25px 20px 25px;
    box-shadow: 5px 10px 18px #1D1717;
}

.options button:hover,
.btn button:hover {
    transform: scale(0.96);
}

.options button.leftButton {
    margin-right: 50px;
}

.options button.rightButton {
    margin-left: 50px;
}

.addABParent {
    text-align: -webkit-center;
}

.addAB {
    display: flex;
    margin-bottom: 20px;
}

input {
    padding: 5px 10px;
}